.section-footer
    padding: 34px 0 46px
.footer
    background-color: $footer
    &-block
        &__logo
            width: 120px
            display: block
            text-align: center
        &-socials
            width: 120px
            &-list
                margin: 7px 0 15px
                padding: 0
                list-style: none
                display: flex
                align-items: center
                justify-content: center
                &__item
                    &:nth-child(2)
                        margin: 0 11px                          
        &__copy
            font-weight: 300
            font-size: 14px
            line-height: 14px
            text-align: center
            width: 126px
            margin: 0 0 10px
        &__dev
            text-align: center
            margin: 0
            font-weight: 300
            width: 120px
            font-size: 14px
            & a
                font-weight: bold
                font-style: italic
                color: $black 
                display: block
                border-bottom: 1px solid $black                           