.section-footer
    padding: 45px 0
.footer
    background-color: $footer
    position: relative
    &-audio
        position: absolute
        bottom: 10px
        right: 40px
        overflow: hidden
        &__button
            background: url(../img/audio.png) no-repeat
            width: 24px
            height: 24px
            padding: 0
            background-color: transparent
            border: none
    &-block
        width: 136px
        &__logo
            display: block
            text-align: center
        &-socials
            &-list
                margin: 7px 0 15px
                padding: 0
                list-style: none
                display: flex
                align-items: center
                justify-content: center
                &__item
                    &:nth-child(2)
                        margin: 0 11px                          
        &__dev
            text-align: center
            margin: 0 auto 10px
            font-weight: 300
            width: 120px
            font-size: 14px
            & a
                font-weight: bold
                font-style: italic
                color: $black 
                display: block
                border-bottom: 1px solid transparent
                transition: .5s
                &:hover
                    border-bottom: 1px solid $black
        &__dj
            text-align: center
            margin: 0 auto
            font-weight: 300
            width: 120px
            font-size: 14px 
            & a
                font-weight: bold
                font-style: italic
                color: $black 
                display: block
                border-bottom: 1px solid transparent              
        &__phone
            margin-bottom: 8px
            display: block
        &__time-work
            color: $black
            font-size: 16px
            line-height: 19px
            margin: 0 0 20px
        &__email
            display: block
        &__title
            color: $footer-title
            font-size: 18px
            line-height: 21px
            margin: 0 0 10px
            font-weight: normal
        &-list
            margin: 0
            padding: 0
            display: flex
            flex-direction: column
            list-style: none
            &__item
                margin-bottom: 5px
            &__link
                display: block
                color: $footer-title
                font-size: 16px
                line-height: 19px
                font-weight: 300           
        &s
            display: flex
            flex-wrap: wrap
            align-items: center
            justify-content: space-between
            width: 50%
    &-bottom
        mt
        &__copy
            font-weight: 300
            font-size: 18px
            text-align: center
            margin: 0 0 10px            
.footer-phone
    color: $black
    font-size: 18px
    line-height: 21px
    font-weight: 300 
.footer-email
    font-size: 18px
    line-height: 21px
    font-weight: 300
    color: $black
.ymap-container
    position: absolute
    right: 0
    width: 40%
    overflow: hidden
    cursor: pointer
    background: url("../img/map.png") no-repeat
#map-yandex
    position: relative
    z-index: 7
    width: 100%
    height: 223px
    cursor: pointer
    background-color: transparent
.loader
    position: absolute
    z-index: 15
    top: -100%
    left: 0
    width: 100%
    height: 100%
    overflow: hidden
    color: $black
    transition: opacity .7s ease
    opacity: 0
    background-color: rgba(0, 0, 0, 0.55)
.loader.is-active
    top: 0
    opacity: 1
.loader-default:after
    position: absolute
    top: calc(50% - 24px)
    left: calc(50% - 24px)
    width: 48px
    height: 48px
    content: ''
    animation: rotation 1s linear infinite
    border: solid 8px $white
    border-left-color: transparent
    border-radius: 50%
@keyframes rotation
    from
        transform: rotate(0)
    to
        transform: rotate(359deg)
@keyframes blink 
    from 
        opacity: .5
    to
        opacity: 1                                                         