*,
*::before,
*::after
    box-sizing: border-box
    outline: none
body
    font-family: 'Roboto Condensed'
    font-weight: normal
    font-size: 18px
body,
html
    height: 100%
.wrapper
    display: flex
    flex-direction: column
    height: 100%
.content-wrapper
    flex: 1 0 auto
footer
    flex: 0 0 auto
img
    max-width: 100%
a
    text-decoration: none
button
    cursor: pointer            
.container
    max-width: 1490px
    margin: auto
    padding: 0 15px
.phone
    font-size: 16px
    color: #ffffff
    line-height: 21px  
.menu-bottom::-webkit-scrollbar 
	width: 8px
.menu-bottom::-webkit-scrollbar-thumb 
	border-width: 1px 1px 1px 2px
	border-color: #1EA1A9
	background-color: #1EA1A9
.menu-bottom::-webkit-scrollbar-track 
	border-width: 1px 1px 1px 2px
.menu-bottom::-webkit-scrollbar-track:hover 
	border-left: solid 1px #1EA1A9
	background-color: #ffffff
.burger
    position: absolute
    z-index: 20
    top: 7px
    left: 15px
    width: 30px
    height: 24px
    cursor: pointer
.bottom-line, 
.center-line,
.top-line
    background-color: #fff
    height: 2px
    width: 100%
    position: absolute
    border-radius: 6px
    transition: .3s
.top-line
    top: 2px
.center-line
    top: 11px
.bottom-line
    top: 20px
.burger-open .top-line
    transform: rotate(45deg)
    top: 10px 
.burger-open .center-line
    opacity: 0 
.burger-open .bottom-line
    transform: rotate(-45deg)
    top: 10px                                   
.section
    padding: 70px 0
.section-selection
    padding: 30px 0
.section-main
    padding: 70px 0
.breadcrumds
    margin: 0 0 20px 20px
    &-list
        padding: 0
        margin: 0
        list-style: none
        display: flex
        align-items: center
        &__item
            font-weight: 300
            font-size: 18px
            line-height: 21px
            color: rgba(70, 70, 70, 0.6)
            &::after
                content: '>'
                margin: 0 6px
            &:last-child
                &::after
                    display: none    
        &__link
            color: #1EA1A9
.title
    font-size: 32px
    text-align: center
    line-height: 37px
    color: #000
    font-weight: normal
.sec-title
    font-size: 24px
    line-height: 28px
    color: #000
    font-weight: 300    
.contact-email
    color: #000000
    font-weight: 300
    font-size: 18px
    line-height: 21px
.contact-phone
    color: #000000
    font-weight: 300
    font-size: 18px
    line-height: 21px                              