*,
*::before,
*::after
    box-sizing: border-box
    outline: none
body
    font-family: 'Roboto Condensed'
    font-weight: normal
    font-size: 18px
body,
html
    height: 100%
.wrapper
    display: flex
    flex-direction: column
    height: 100%
.content-wrapper
    flex: 1 0 auto
footer
    flex: 0 0 auto
img
    max-width: 100%
a
    text-decoration: none
button
    cursor: pointer            
.container
    max-width: 1490px
    margin: auto
    padding: 0 15px
.phone
    font-size: 18px
    color: #ffffff
    line-height: 21px  
.menu-bottom::-webkit-scrollbar 
	width: 8px
.menu-bottom::-webkit-scrollbar-thumb 
	border-width: 1px 1px 1px 2px
	border-color: #1EA1A9
	background-color: #1EA1A9
.menu-bottom::-webkit-scrollbar-track 
	border-width: 1px 1px 1px 2px
.menu-bottom::-webkit-scrollbar-track:hover 
	border-left: solid 1px #1EA1A9
	background-color: #ffffff
.burger
    position: absolute
    z-index: 20
    top: 7px
    left: 15px
    width: 30px
    height: 24px
    cursor: pointer
.bottom-line, 
.center-line,
.top-line
    background-color: #fff
    height: 2px
    width: 100%
    position: absolute
    border-radius: 6px
    transition: .3s
.top-line
    top: 2px
.center-line
    top: 11px
.bottom-line
    top: 20px
.burger-open .top-line
    transform: rotate(45deg)
    top: 10px 
.burger-open .center-line
    opacity: 0 
.burger-open .bottom-line
    transform: rotate(-45deg)
    top: 10px                                   
.section
    padding: 70px 0  
.animated
  animation-duration: 1s
  animation-fill-mode: both
.animated.hinge
  animation-duration: 2s
@keyframes fadeInUp
  from
    opacity: 0
    -webkit-transform: translate3d(0, 100%, 0)
  to
    opacity: 1
    transform: translate3d(0, 0, 0)
.fadeInUp
  animation-name: fadeInUp
@keyframes main-block__image-top
  from
    opacity: 0
    transform: translate3d(-100%, 0, 0)
  to
    opacity: 1
    transform: translate3d(0, 0, 0)
.main-block__image-top
  animation-name: main-block__image-top  