*,
*::before,
*::after
    box-sizing: border-box
    outline: none
body
    font-family: 'Roboto Condensed'
    font-weight: normal
    font-size: 18px
body,
html
    height: 100%
.wrapper
    display: flex
    flex-direction: column
    height: 100%
.content-wrapper
    flex: 1 0 auto
footer
    flex: 0 0 auto
img
    max-width: 100%
a
    text-decoration: none
button
    cursor: pointer            
.container
    max-width: 1490px
    margin: auto
    padding: 0 15px
.phone
    font-size: 18px
    color: #ffffff
    line-height: 21px       