@media (max-width: 1490px)
    .header
        &-top
            & .container
                max-width: 1200px
        &-center
            & .container
                max-width: 1200px
        &-bottom        
            & .container
                max-width: 1200px
    .menu
        &-bottom        
            &-list
                &__link
                    width: 117px
@media (max-width: 1200px)                        
    .header
        &-top
            & .container
                max-width: 992px
        &-center
            & .container
                max-width: 992px
    .menu
        &-bottom        
            &-list
                &__link
                    width: 96px
@media (max-width: 1090px)
    .menu
        &-bottom
            &-list
                flex-direction: column
                &__link
                    width: 100%
                    text-align: left 
                    justify-content: flex-start
                    padding: 0 15px 
                                 