@media (max-width: 1580px)
    .header
        &-center
            & .container
                max-width: 1400px
@media (max-width: 1506px)
    .main
        &-block
            padding: 0 10px
        & .container
            max-width: 1440px
    .category-selection
        &-block
            padding: 0 10px
        & .container
            max-width: 1440px             
@media (max-width: 1490px)
    .header
        &-top
            & .container
                max-width: 1200px
        &-center
            & .container
                max-width: 1200px
        &-bottom        
            & .container
                max-width: 1200px
    .menu
        &-bottom        
            &-list
                &__link
                    width: 117px
@media (max-width: 1456px)
    .main
        & .container
            max-width: 1160px
    .category-selection
        & .container
            max-width: 1160px                                       
@media (max-width: 1290px)
    .header
        &-center
            & .container
                max-width: 992px                      
@media (max-width: 1200px)                        
    .header
        &-top
            & .container
                max-width: 992px
    .menu
        &-bottom        
            &-list
                &__link
                    width: 110px
@media (max-width: 1174px)
    .main
        &-block
            padding: 0 5px
            margin: 0 5px 50px
        & .container
            max-width: 1110px
    .category-selection
        &-block
            padding: 0 5px
            margin: 0 5px 50px
        & .container
            max-width: 1110px                                                           
@media (max-width: 1130px)  
    .menu
        &-bottom
            &-list
                &__item
                    &:nth-child(6),
                    &:nth-child(7),
                    &:nth-child(8),
                    &:nth-child(9),
                    &:nth-child(10)
                        border-top: none
                &__link
                    width: 184px
@media (max-width: 1119px)
    .main
        &-block
            margin: 0 5px 30px
        & .container
            max-width: 840px
    .category-selection
        &-block
            margin: 0 5px 30px
        & .container
            max-width: 840px                                
@media (max-width: 1100px)
    .search-form-block.search-active
        width: 190px
    .header
        &-center
            & .container
                max-width: 900px
@media (max-width: 1040px)
    .footer
        &-audio
            bottom: 240px
        &-block
            margin-bottom: 40px
            &s
                width: 100%
    .ymap-container
        position: relative
        width: 100%
        background: url(../img/map2.png) no-repeat
    .loader
        top: 0
    .section-footer
        padding: 35px 0 0
@media (max-width: 1025px)
    .favorites
        &-block 
            & table
                & tbody
                    & td
                        padding: 0 15px
            &__link
                & .sec-title
                    font-size: 18px
            &__view,
            &__type
                font-size: 16px
            &__price
                font-size: 18px                                        
@media (max-width: 992px)
    .click-search
        display: block
        position: absolute
        top: 10px
        right: 145px
        & svg
            fill: $white
    .menu
        width: 100%
        &-bottom
            display: none
            height: 204px
            overflow-y: scroll
            &__text
                display: flex
            &-list
                flex-direction: column
                &__link
                    width: 100%
                    justify-content: flex-start
                    padding: 0 15px
                &__item
                    border-top: none
        &-list
            display: none
            flex-direction: column
            &__item
                margin-right: 0
                position: relative
                top: 40px
                border-bottom: 1px solid $white
                background-color: $header
                z-index: 10
                &:first-child
                    border-top: 1px solid $white
            &__link
                padding: 8px 15px
                font-size: 16px
        &-lines
            display: block                   
    .header
        &-top
            & .container
                padding: 0
            & .search-form
                display: block
            & .cart
                display: block
            & .account
                display: block
            & .favorite
                &__link
                    display: block
                    color: $white
                    position: absolute
                    top: 11px
                    right: 100px
                &-count
                    background-color: $header
                    color: $white           
        &-bottom
            & .container
                padding: 0
                position: relative
        &__phone
            display: none       
    .nav-icon-1
        display: inline-block
    .necessary
        & .search-form
            display: none
        & .account
            display: none
        & .cart
            display: none 
        & .favorite__link
            display: none               
    .search
        &-input
            width: 100%
            padding-left: 35px
            height: 28px
            border-radius: 10px
        &-form
            position: absolute
            top: 6px
            left: 50%
            transform: translateX(-50%)
            max-width: 650px
            width: 100%
            &-block
                width: 100%
                padding-right: 0
                &.search-active
                    width: 100%
                    padding-left: 30px
                    padding-right: 0
                &__input
                    background-color: $white
                    font-size: 12px
                    &::placeholder
                        color: rgba(0, 0, 0, 0.4)
                        font-size: 12px
                &__button
                    right: auto
                    left: 0 
                    height: 28px
                    border-radius: 10px 0 0 10px
    .cart
        position: absolute
        top: 4px
        right: 45px
        background: url(../img/cart.png) no-repeat
        &-count
            color: $white
            background-color: $header
        & svg
            display: none
    .account
        position: absolute
        top: 10px
        right: 20px
        & svg
            color: $white
@media (max-width: 905px)
    .favorites
        &__title
            margin: 0 0 40px 20px           
@media (max-width: 900px)
    .socials
        display: none
    .search
        &-form
            max-width: 550px
@media (max-width: 865px)
    .favorites
        &-block
            overflow-y: hidden
            width: 100%
        & table
            & tbody
                & td
                    padding: 0 5px            
@media (max-width: 850px)
    .main
        &-block
            margin: 0 0 25px
    .category-selection
        &-block
            margin: 0 0 25px
    .breadcrumds
        display: none                    
    main
        & .section
            padding: 40px 0 30px
@media (max-width: 820px)
    .main
        & .container
            max-width: 550px
    .category-selection
        & .container
            max-width: 550px                                            
@media (max-width: 800px)
    .search
        &-form
            max-width: 400px
@media (max-width: 768px)
    .section-main
        padding: 30px 0
    .section
        padding: 30px 0
    .payment
        &__title
            margin: 0 0 25px
        &-content
            & p
                font-size: 18px
                margin: 0 0 15px
            & h3
                margin: 25px 0 10px
            & ul
                margin: 0 0 25px
            & h2,
            & h3
                font-size: 22px
    .ymap-container
        background-position: center
@media (max-width: 745px)
    .favorites
        &-block
            justify-content: flex-start
            &__link
                & .sec-title
                    font-size: 14px
                    line-height: normal
                    margin: 0
            &__view,
            &__type
                font-size: 14px
            &__price
                font-size: 14px
                line-height: normal
            &__cross
                margin-left: 5px
            &__availability
                font-size: 14px    
@media (max-width: 683px)
    .favorites
        &-block
            & table
                & tbody
                    & tr
                        display: flex
                        flex-direction: column
                        align-items: center
                        & td
                            margin-bottom: 8px
            &__link 
                & .sec-title
                    font-size: 22px
            &__view,
            &__type
                font-size: 20px
                text-align: center
            &__view
                margin-bottom: 5px
            &__price
                font-size: 20px
            &__availability
                font-size: 20px                                                                                                                                                    
@media (max-width: 670px)
    .search
        &-form
            max-width: 300px            
@media (max-width: 562px)
    .main
        &-block
            &__image
                & img
                    width: 220px
            &s
                justify-content: center
    .category-selection
        &-block
            &__image
                & img
                    width: 220px
            &s
                justify-content: center                                        
@media (max-width: 550px)
    .search
        &-form
            max-width: 200px
    .footer
        &-block
            &s
                flex-direction: column        
    .about
        &__title
            margin: 0 0 25px
        & p
            margin: 0 0 10px
        & ul
            & li
                margin-bottom: 10px
    .contact
        &__title
            margin: 0 0 25px
        & p
            margin: 0 0 10px
        &-content
            margin: 25px 0
            &__email
                margin-bottom: 25px                                        
@media (max-width: 506px)
    .main
        &-block
            &__image
                & img
                    width: 100%            
    .category-selection
        &-block
            &__image
                & img
                    width: 100%            
@media (max-width: 440px)
    .menu
        &-lines
            & span
                display: none
    .account
        right: 12px
    .cart
        right: 34px
    .search
        &-form
            left: 45%
    .header
        &-center
            & .container
                min-height: 120px
    .logo
        top: 10px
    .payment
        &-content
            & h2,
            & h3
                text-align: center     
@media (max-width: 375px)
    .search
        &-form
            max-width: 170px
    .footer
        &-block
            text-align: center
            &__title
                text-align: center
            &-list
                &__link
                    text-align: center
@media (max-width: 340px)
    .cart
        right: 30px
    .burger
        left: 10px                                                                                                                                                                                                                                   