.fotorama
    max-width: 640px
    &__thumb-border
        background: rgba(30, 161, 169, 0.4)
.cart-product
    &-left
        margin-top: 50px
    &-right
        max-width: 340px
        width: 100%
        position: relative 
        &__title
           margin: 0 0 3px  
        &__favorite
            background: url(../img/hart-hover)         