.catalog
    padding: 40px 0 60px
    &-section
        margin-top: 30px
        display: flex
        flex-wrap: wrap
        // justify-content: space-between
        & aside
            margin-right: 60px
    &-filter
        width: 171px
        border-right: 1px solid $border 
        &__title
            font-weight: normal
            font-size: 14px
            line-height: 16px
            color: $black
            border-bottom: 1px solid $border
            padding: 0 0 10px 5px
            margin: 0
        &__name
            font-weight: normal
            font-size: 14px
            line-height: 16px
            color: $header
            padding: 10px 0 10px 5px
            margin: 5px 0
            position: relative
            cursor: pointer
            &::after
                content: url(../img/arrow.png)
                position: absolute
                top: 8px
                right: 15px
                transform: rotate(0deg) 
                transition: .5s
            &.close-filter
                &::after
                    transform: rotate(-180deg) 
                    transition: .5s   
        &__num
            display: flex
            align-items: center
            color: $black
            font-size: 14px
            margin-bottom: 10px
            &-line
                margin: 0 8px
                color: $black
        &__input
            width: 50px
            height: 22px
            border: 1px solid rgba(0, 0, 0, 0.2)
            border-radius: 3px
            font-size: 14px
            padding: 3px
            &:last-child
                margin-right: 5px
        &__line
            width: 152px
            height: 3px
            background-color: $header
            position: relative
            margin-bottom: 12px
            &::before
                content: ''
                width: 10px
                height: 10px
                background-color: $circle
                position: absolute
                top: -4px
                left: -2px 
                border-radius: 50%
            &::after
                content: ''
                width: 10px
                height: 10px
                background-color: $circle
                position: absolute
                top: -4px
                right: -2px 
                border-radius: 50% 
        &__block
            border-bottom: 1px solid $border
        &__inner
            margin-left: 5px
            & label
                display: flex
                align-items: center
                font-size: 14px 
                color: $black
                margin-bottom: 6px
                &:last-child
                    margin-bottom: 10px
                & input
                    margin-right: 6px
    &-product
        max-width: 270px
        width: 100%
        padding: 36px 22px
        &__image
            width: 250px
            margin: 0 auto 20px
            display: block
        &__title
            font-size: 18px
            margin: 0 0 12px
            text-align: center
            line-height: 21px
            font-weight: normal
            color: $product-name 
    &-dimension
        display: flex
        align-items: center
        &:nth-child(2)
            & svg
                transform: rotate(90deg)
        &:last-child
            & svg        
                transform: rotate(45deg)
        &__number
            font-size: 12px
            line-height: 14px
            color: $product-dimensions
            font-variant: small-caps
        &s
            margin: 12px auto
            display: flex
            max-width: 190px
            justify-content: space-between
    &-buy
        max-width: 170px
        display: flex
        justify-content: space-between
        align-items: center
        margin: auto
        &__price
            font-size: 16px
            line-height: 19px
            color: $black
        &__ord
            display: flex
            align-items: center     
        &__cart
            background: url(../img/product-cart.png) no-repeat
            width: 26px
            height: 26px
            cursor: pointer 
        &__favorite
            background: url(../img/hard.png) no-repeat
            width: 20px
            height: 20px 
            margin-left: 8px
            cursor: pointer                        