.checkout
    &__title
        margin: 0 0 40px
        font-weight: normal
        text-align: center
    &-form
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        &-left
            max-width: 522px
            width: 100%
    &-field
        margin-bottom: 30px
        &:nth-child(4)
            padding-bottom: 20px
            border-bottom: 1px solid $border
            margin-bottom: 20px
        &__title
            font-size: 20px
            color: $black
            font-weight: 300
            line-height: 23px
            margin: 0 0 10px
            display: block
        & b
            color: $red
            font-weight: bold
        &__comment
            padding: 10px
            font-size: 16px
            color: $black
            border: 1px solid $border
            border-radius: 2px
            width: 100%
            height: 100px
            resize: none 
            margin-bottom: 40px
        &__button
            width: 170px
            height: 40px
            display: flex
            align-items: center
            justify-content: center
            border-radius: 20px
            background-color: $green
            text-transform: uppercase
            color: $white
            font-size: 14px
            border: none       
    &-radio
        display: flex
        &-pay
            padding-bottom: 20px
            border-bottom: 1px solid $border
        &__input
            background-color: $white
            border: 1px solid $border
            border-radius: 2px
            height: 28px
            padding: 0 15px
            font-size: 16px
    &-input
        max-width: 245px
        width: 100%
        &-wrap
            width: 100%
            display: flex
            flex-wrap: wrap
            justify-content: space-between
    &-delivery
        padding-bottom: 20px
        border-bottom: 1px solid $border
        &-wrap
            display: flex
            flex-wrap: wrap
            justify-content: space-between 
    &-product
        max-width: 356px
        width: 100%
        border: 1px solid $header 
        border-radius: 2px
    &-top
        padding: 70px 32px 40px
        border-bottom: 1px solid $border
        &__image
            width: 266px
            margin: auto
            display: block
        &__title
            font-weight: 300
            font-size: 24px
            line-height: 28px
            margin: 35px 0 10px
        &__text
            display: flex
            justify-content: space-between     
        &__price
            font-weight: 300
            font-size: 24px
            line-height: 28px
            margin: 0
        &__count
            font-weight: 300
            font-size: 24px
            line-height: 28px        
    &-bottom
        padding: 40px 32px 32px
        display: flex
        align-items: center
        &__total
            font-weight: 300
            font-size: 24px
            line-height: 28px
        &__price
            font-weight: 300
            font-size: 24px
            line-height: 28px
            margin: 0 0 0 30px                                                                          
.radio
    font-size: 20px
    color: $black
    font-weight: 300           
    &:first-child
        margin-right: 30px
.radio-pay
    font-size: 18px
    color: $black
    font-weight: 300
    display: block
    margin-bottom: 10px
    &:last-child
        margin-bottom: 0       
.delivery-label
    display: flex
    flex-wrap: wrap
    padding: 8px 12px
    font-size: 18px
    color: $black
    font-weight: 300
    align-items: baseline
    max-width: 254px
    width: 100%
    border: 1px solid transparent
    border-radius: 2px
    &:hover
        border: 1px solid $header 
    &.border-active    
        border: 1px solid $header
    & input
        margin-right: 8px
    & i
        margin: 10px 0 0 23px
        font-weight: 300
        font-size: 14px
        line-height: 16px
        color: $black
    &__issue
        font-size: 13px
        line-height: 16px
        color: $black
        font-weight: 300
        margin: 10px 0 0 23px
    &__text
        width: 200px                      