.favorites
    &__title
        margin: 0 0 60px 100px
    &-block 
        & table
            & tbody
                & tr
                    display: block
                    border-bottom: 1px solid rgba(51, 51, 51, 0.2)
                    padding-bottom: 25px
                    margin-bottom: 25px
                    & td
                        padding: 0 40px
        &__link
            display: block
            & .sec-title
                font-size: 20px
        &__image
            width: 150px
        &__name
            margin: 0 0 6px
        &__availability
            font-size: 16px
            line-height: 16px
        &__type
            font-weight: 300
            font-size: 18px
            line-height: 20px
        &__view
            font-weight: 300
            font-size: 18px
            line-height: 20px
        &__price
            font-size: 20px
            line-height: 28px
            font-weight: 300
        &__add-cart
            background: url(../img/cart1.png) 0 -3px no-repeat
            width: 32px
            height: 32px
            border: none
        &__cross
            display: block
            color: $black
            margin-left: 15px
        &__buttons
            display: flex
            align-items: center
        &s
            margin-left: 60px